<div class="site-location">
<h1>{{ data['current_date_time']['current_time'] }}</h1>
<p><strong>{{ data['current_date_time']['current_date'] }}</strong><p>

<p><strong>Time in {{ data['sbstory_city'] }}, {{ data['sbstory_country'] }}</strong></p>
</div>
